
<form [formGroup] ="loginForm" novalidate (ngSubmit)= "onSubmit()">
    <h1>ingresar</h1>

    <input type="text" placeholder="email"  formControlName="username">
    <mat-error *ngIf ="loginForm.controls['username'].hasError('required')">
         <strong>Requerido</strong>
    </mat-error>

    <input type="password" placeholder="password" formControlName="password">
    <mat-error *ngIf = "loginForm.controls['password'].hasError('required')">
         <strong>Requerido</strong>
    </mat-error>

    <a href="#">¿Olvidaste tu contraseña?</a>
     <button >Ok</button>
</form>

